body{
  padding: 0;
  margin: 0;
}

.board_container{
  height: 300px;
  width: 200px;
}

.inner_board{
  width: inherit;
  height: calc(100% / 2);
  text-align: center;
  border: 5px solid #FF3232;
  line-height: 140px;
}

.inner_board span{
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.upper_board{
  font-size: 70px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.lower_board{
  font-size: 25px;
  font-weight: 600;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: #FF3232;
  color: white;
}
