body{
  padding: 0;
  margin: 0;
  background-image: url(backgrounds/blue_circle_lights.jpg);
  /*background-image: url(backgrounds/Creased-White-Paper.jpg);*/
  /*background-image: url(backgrounds/codeclan_logo_blur.png);*/
  /*background-image: url(backgrounds/codeclan-logo_blur.png);*/
  background-image: no-repeat;
  background-size: cover;
}

.board_container{
  height: 325px;
  width: 200px;
  margin: 20px;
}

.inner_board{
  width: inherit;
  height: 47.25%;
  text-align: center;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.upper_board{
  font-size: 70px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-top: 1px solid black;
  background-color: rgba(255,255,255,0.5);
}

.upper_board p{
  margin: 35px 0 0 0;
}

.board_container form{
  width: 100%;
  height: 18px;
  background-color: rgba(255,255,255,0.5);
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.lower_board{
  font-size: 25px;
  font-weight: 600;
  line-height: 140px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: radial-gradient(300px circle at 50% 50%, #FF3232, black);
  color: white;
  border-bottom: 1px solid black;
}

.lower_board span{
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

section{
  display: flex;
  justify-content: center;
}
