
#team_container{
  width: 951px;
  margin: auto;
  padding: 15px;
}

#team_container li{
  width: 210px;
  height: 200px;
  float: left;
  margin-right: 40px;
  padding: 30px;
}

.team_containers{
  border: 1px solid black;
}

#team_container p{
  font-size: 17px;
}

#team_container ol{
  padding-left: 15px;
  list-style: none;
}

#team_container label{
  font-size: 17px;
}

#team_container input{
  display: block;
  margin: 10px 0 10px 0;
  font-size: 15px;
}

#team_container input[type="text"]{
  width: 90%;
}

#team_container input[type=number]{
  width: 60px;
  padding-left: 15px;
}

#control_panel_white_space{
  clear: both;
  height: 60px;
}

#new_team_container{
  border: 1px solid blue;
}
