<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Control Panel</title>
    <link rel="stylesheet" href="/styles/master.css">
    <link rel="stylesheet" href="/styles/footer.css">
  </head>
  <body>

    <%= erb(:footer) %>

  </body>
</html>
